@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    border-top: 6px solid #e8907a;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 30px 100px;
    position: relative
}

#root {
    margin-bottom: 3em
}

header {
    margin-bottom: 25px;
    margin-top: 30px
}

header>h1 {
    margin: 0 25px
}

form#item-input {
    align-items: center;
    border: 2px solid #000;
    border-radius: 5rem;
    display: flex
}

input[type=text] {
    height: 40px
}

form#item-input>textarea {
    border: none;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
    margin: 0 0 0 2rem;
    outline: none;
    resize: none;
    width: calc(100% - 2rem)
}

form#item-input>button {
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #e8907a;
    border: none;
    border-radius: 300px;
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin: 5px 10px 5px 5px;
    outline: none;
    width: 40px !important
}

.booknote-list {
    margin-top: 10px;
    padding: 20px 0;
    position: relative
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.booknote-list>ol>li {
    padding-left: 20px;
    position: relative
}

.editable-shopping-list>ol>li {
    border-bottom: 1px solid #152d3552
}

.editable-shopping-list>ol>li>div {
    display: flex
}

.booknote-list .item-label,
.category-label,
.editable-shopping-list form input,
.list-name {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-family: Roboto, serif;
    font-size: 1.4em;
    letter-spacing: 1px;
    padding-left: 4px
}

.list-name {
    border: none;
    font-size: 1em;
    outline: none;
    padding: .5em .5em .5em 4px
}

.editable-shopping-list form {
    display: flex;
    flex-grow: 1
}

.editable-shopping-list form input {
    border: none;
    outline: none
}

.booknote-list p {
    margin: 0
}

.booknote-list p:not(.item-addition-explanation) {
    flex-grow: 1
}

.item-addition-explanation {
    color: gray;
    font-size: 1.1rem;
    margin-right: 15px
}

.booknote-list .row-options-button-container {
    align-items: center;
    display: flex
}

.small-button {
    background-color: initial;
    border: none;
    border-radius: 2rem;
    color: #060e1063;
    font-size: 1.4rem;
    height: 2rem;
    margin: 0;
    outline: none;
    padding: 2px 0 0 1px;
    transition: background-color .5s;
    width: 2rem
}

.small-button.active {
    background-color: #e8907a94
}

button.category-icon {
    background-color: initial;
    border: none;
    outline: none
}

.booknote-list .vertical-bar {
    background-color: #e8907acc;
    bottom: 0;
    left: 20px;
    position: absolute;
    top: 0;
    width: 4px
}

ol.category-choice-menu {
    list-style-type: none;
    padding: 0
}

.category-choice-menu>li {
    display: inline-block
}

.category-label {
    display: flex
}

.while-shopping-row {
    align-items: center;
    display: flex;
    font-size: .7rem;
    margin-bottom: 2px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-top: 10px
}

.category-listing {
    border-top: 2px solid gray
}

.switch-and-share {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem
}

.slider:hover {
    border-color: #e8907a
}

.switch-mode {
    align-items: center;
    color: #e8907a;
    display: flex;
    font-family: Roboto, serif;
    height: 3em;
    justify-content: space-between;
    position: relative;
    width: 10rem
}

a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none
}

.slider {
    border: 2px solid #707070;
    border-radius: 34px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.slider:before {
    background-color: #e8907a;
    border-radius: 50%;
    bottom: 5px;
    content: "";
    height: 2.2em;
    left: 3px;
    position: absolute;
    transition: -webkit-transform .1s cubic-bezier(.18, .89, .11, .94);
    transition: transform .1s cubic-bezier(.18, .89, .11, .94);
    transition: transform .1s cubic-bezier(.18, .89, .11, .94), -webkit-transform .1s cubic-bezier(.18, .89, .11, .94);
    width: 2.2em;
    z-index: -1
}

.switch-mode.active>.slider:before {
    -webkit-transform: translateX(7.1rem);
    transform: translateX(7.1rem)
}

.switch-mode button {
    font-size: 1.2rem;
    margin: 0 6px
}

.switch-mode button.active-mode {
    color: #fff
}

.share-button {
    align-items: center;
    background-color: initial;
    border: 0;
    cursor: pointer;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    width: 12em
}

.share {
    color: #707070;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Roboto Mono, serif;
    font-style: italic;
    font-weight: 700;
    justify-content: center;
    max-width: 14em
}

.share:after {
    background-color: #e8907a;
    content: "";
    flex-grow: 4;
    grid-area: line;
    height: 4px;
    position: relative;
    top: 5px;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
    width: 75%
}

.share>* {
    align-self: end;
    justify-self: end;
    margin: 0
}

input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #bdc1c6;
    border-radius: 2rem;
    color: #363839;
    cursor: pointer;
    height: 1.75rem;
    min-height: 1.75rem;
    min-width: 1.75rem;
    outline: 0;
    position: relative;
    transition: background 175ms cubic-bezier(.1, .1, .25, 1);
    width: 1.75rem
}

input[type=checkbox]:before {
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: block;
    height: 14px;
    left: .55rem;
    opacity: 0;
    position: absolute;
    top: .2rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px
}

input[type=checkbox]:checked {
    background: #e8907a;
    border-color: #e8907a;
    border-radius: 2rem;
    color: #fff
}

input[type=checkbox]:checked:before {
    opacity: 1
}

input[type=checkbox]:checked~label:before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}

.while-shopping-row .label,
.while-shopping-row label {
    cursor: pointer;
    flex-grow: 3;
    font-size: 1.25rem;
    padding: 0 .25em;
    position: relative;
    text-align: left;
    -webkit-user-select: none;
    user-select: none;
    width: 100%
}

.while-shopping-row label:before {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    color: #9c9e9f;
    content: attr(data-content);
    position: absolute;
    text-decoration: line-through;
    text-decoration-color: #363839;
    transition: -webkit-clip-path .2s cubic-bezier(.25, .46, .45, .94);
    transition: clip-path .2s cubic-bezier(.25, .46, .45, .94);
    transition: clip-path .2s cubic-bezier(.25, .46, .45, .94), -webkit-clip-path .2s cubic-bezier(.25, .46, .45, .94)
}

.install-prompt {
    border: 2px solid #e8907a;
    border-radius: 10px;
    color: #707070;
    display: flex;
    font-family: Roboto, serif;
    font-size: 1.2rem;
    justify-content: revert;
    margin: 20px;
    padding: 5px 5px 5px 1.5rem
}

.plain-button {
    align-self: center;
    background-color: #e8907a;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-family: Roboto Mono, serif;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    padding: 1em
}

button.close {
    align-self: flex-start
}

button.small-button.active,
button.small-button:hover {
    color: #e8907a
}

.plain-button:hover {
    background-color: #fff;
    border: 2px solid #e8907a;
    color: #e8907a
}

button:not(:disabled) {
    cursor: pointer
}

.map_history {
    width: 100%
}

#mapid {
    height: 600px
}

.icon-circle {
    align-items: center;
    background-color: #e8907a;
    border-radius: 2rem;
    display: flex;
    height: 2em;
    justify-content: center;
    margin-left: 1rem;
    width: 2em
}

.list-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly
}

button.list-action-button:hover {
    border-color: #e8907a;
    color: #707070
}

button.list-action-button {
    align-items: center;
    background-color: #fff;
    border: 2px solid #707070;
    border-radius: 50px;
    color: #e8907a;
    display: flex;
    font-family: Roboto Mono, serif;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    min-width: 250px;
    outline: none;
    padding: .25em .75em
}

button.list-action-button.really {
    background-color: #e8907a;
    border-color: #e8907a;
    color: #fff
}

.snackbar {
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 4px;
    bottom: -20px;
    color: #fff;
    font-family: Roboto, serif;
    justify-content: center;
    left: 50%;
    letter-spacing: 1px;
    min-height: 3rem;
    min-width: 20%;
    opacity: 0;
    padding: 4px 20px;
    position: fixed;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    transition: opacity .3s ease-out, bottom 10s, visibility .3s;
    visibility: hidden;
    z-index: 999
}

.snackbar.visible {
    bottom: 10px;
    display: flex;
    opacity: 1;
    transition: bottom .1s ease-out;
    visibility: visible
}

.empty-list {
    color: #707070;
    font-family: Roboto, serif;
    font-style: italic;
    margin-left: 3rem
}

.menuToggle button.open-close {
    background-color: #e8907a;
    border: 0;
    border-radius: 5em 5em 0 0;
    color: #fff;
    height: 50px;
    left: 50%;
    position: relative;
    top: -50px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px
}

#list-choice ul li {
    justify-content: space-evenly;
    padding: 1em
}

#list-choice ul {
    list-style-type: none;
    padding-left: 0
}

#option-buttons {
    bottom: 1.7rem;
    position: absolute;
    right: 1.5rem
}

.menu-button {
    align-items: center;
    background-color: #e8907a;
    border: none;
    border-radius: 5rem;
    box-shadow: 4px 4px 10px 5px #cccccc9c;
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    height: 60px;
    justify-content: center;
    outline: none;
    width: 60px
}

#options-menu-container {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0
}

#options-menu {
    height: 100%;
    margin: 0 auto;
    max-width: 660px;
    position: relative
}

#options-menu>* {
    pointer-events: all
}

#list-choice-popup {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    transition: visibility .3s;
    visibility: hidden
}

#list-choice-popup.opened {
    visibility: visible
}

#list-choice-popup-background {
    background-color: initial;
    border: none;
    cursor: default;
    height: 100vh;
    left: 0;
    outline: none;
    position: fixed;
    transition: background-color .3s ease;
    width: 100vw
}

#list-choice ul li {
    align-items: center;
    border-bottom: 2px solid #707070;
    display: flex;
    font-family: Roboto Mono, serif;
    font-weight: 700;
    justify-content: space-between;
    padding: .5em
}

#list-choice-popup.opened #list-choice-popup-background {
    background-color: #f7f7f7ad
}

.menuToggle ul li {
    border-bottom: 2px solid #707070;
    display: flex;
    justify-content: space-evenly;
    padding: 1em
}

#popup-content {
    background-color: #fff;
    border-radius: 3em 3em 0 0;
    border-top: 6px solid #e8907a;
    bottom: 0;
    box-shadow: 1px -6px 13px 4px #b9b9b99c;
    left: 0;
    overflow-y: auto;
    padding: 1em 20px 30px;
    position: absolute;
    right: 0;
    transition: top .15s ease, box-shadow .3s ease, border-top-width .3s ease;
    z-index: 1
}

#list-choice ul li .active {
    color: #e8907a;
    font-weight: bolder
}

#list-choice ul {
    margin: auto;
    max-width: 600px
}

.item-label {
    transition: color .5s
}

.item-label.bought {
    color: rgba(0, 0, 0, .4);
    text-decoration: line-through
}

.while-shopping-row,
a,
button {
    -webkit-tap-highlight-color: transparent
}

.item-label,
.while-shopping-row,
a,
button {
    -webkit-user-select: none;
    user-select: none
}

li.frequent-article {
    display: flex;
    font-family: Roboto
}

li.frequent-article>p {
    flex-grow: 1
}

li.frequent-article>button.add-item-button {
    background-color: #e8907a;
    border: none;
    border-radius: 40px;
    color: #fff;
    height: 40px;
    width: 40px
}

.see-more {
    margin: 20px auto
}

.frequent-article-tip {
    color: #707070;
    font-family: Roboto;
    padding: 20px;
    text-align: center
}

@-webkit-keyframes patate {
    0% {
        -webkit-transform: rotate3d(1, 1, 1, 0deg);
        transform: rotate3d(1, 1, 1, 0deg)
    }

    25% {
        -webkit-transform: rotate3d(1, 1, 1, 90deg);
        transform: rotate3d(1, 1, 1, 90deg)
    }

    50% {
        -webkit-transform: rotate3d(1, 1, 1, 180deg);
        transform: rotate3d(1, 1, 1, 180deg)
    }

    75% {
        -webkit-transform: rotate3d(1, 1, 1, 270deg);
        transform: rotate3d(1, 1, 1, 270deg)
    }

    to {
        -webkit-transform: rotate3d(1, 1, 1, 1turn);
        transform: rotate3d(1, 1, 1, 1turn)
    }
}

@keyframes patate {
    0% {
        -webkit-transform: rotate3d(1, 1, 1, 0deg);
        transform: rotate3d(1, 1, 1, 0deg)
    }

    25% {
        -webkit-transform: rotate3d(1, 1, 1, 90deg);
        transform: rotate3d(1, 1, 1, 90deg)
    }

    50% {
        -webkit-transform: rotate3d(1, 1, 1, 180deg);
        transform: rotate3d(1, 1, 1, 180deg)
    }

    75% {
        -webkit-transform: rotate3d(1, 1, 1, 270deg);
        transform: rotate3d(1, 1, 1, 270deg)
    }

    to {
        -webkit-transform: rotate3d(1, 1, 1, 1turn);
        transform: rotate3d(1, 1, 1, 1turn)
    }
}

.row-options-container {
    position: relative
}

.contextual-menu {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 5px #cccccc9c;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 40px;
    -webkit-transform: scale(.1);
    transform: scale(.1);
    -webkit-transform-origin: right top;
    transform-origin: right top;
    transition: visibility .2s, -webkit-transform .2s;
    transition: transform .2s, visibility .2s;
    transition: transform .2s, visibility .2s, -webkit-transform .2s;
    visibility: hidden;
    z-index: 1
}

.contextual-menu.opened {
    height: auto;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform .1s;
    transition: transform .1s;
    transition: transform .1s, -webkit-transform .1s;
    visibility: visible;
    width: auto
}

.contextual-menu button {
    background-color: #fff;
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 15px 25px
}

.contextual-menu button:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, .2)
}

.row-options-button {
    background-color: initial;
    border: none;
    border-radius: 2rem;
    color: #060e1063;
    font-size: 1.4rem;
    height: 2rem;
    margin: 0;
    outline: none;
    padding: 2px 0 0 1px;
    transition: background-color .5s;
    width: 2rem
}

.row-options-button.active {
    background-color: #e8907a94
}

.f-grow {
    flex-grow: 1
}

.f-vcenter {
    align-items: center
}

.flex {
    display: flex
}

.list-label {
    color: #707070
}

.popin-action-btn>* {
    margin-top: 1em
}

.popin-action-btn {
    flex-wrap: wrap;
    margin: 0 auto
}

.import-list-form,
.popin-action-btn {
    align-items: center;
    justify-content: space-around
}

.import-list-form {
    background-color: #fff;
    border: 2px solid #707070;
    border-radius: 50px;
    color: #e8907a;
    display: flex;
    font-family: Roboto Mono, serif;
    font-size: 1rem;
    font-weight: 700;
    padding: .25em 0
}

.import-list-form input {
    border: none;
    width: 40%
}

.import-list-form button div {
    height: 32px;
    width: 32px
}

.import-list-form button {
    background-color: initial;
    border: none
}

.App {
    text-align: center
}

.App-logo {
    height: 40vmin;
    pointer-events: none
}

@media (prefers-reduced-motion:no-preference) {
    .App-logo {
        -webkit-animation: App-logo-spin 20s linear infinite;
        animation: App-logo-spin 20s linear infinite
    }
}

.App-link {
    color: #61dafb
}

@-webkit-keyframes App-logo-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes App-logo-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
